*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Register{
    display: flex;
    flex-direction: column;
    background-color: #EBF5FB;
    height: 100vh;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}

.initlogin{
    background-color: #5499C7;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerInitL{
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.regresar1{
    margin-bottom:3rem ;
}

.regresar1 .btn-inicio1{
    color: #EBF5FB;
    text-decoration: none;
}

.regresar1 .btn-inicio1:hover{
    text-decoration: underline;
}

.infoSoli1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoSoli1 p{
    font-size: 24px;
    color: #EBF5FB;
    font-weight: bold;
    margin-bottom: 4rem;
}

.btn-orange1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-orange1 button{
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    color: #EBF5FB;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-orange1 button:hover {
    background-color: #cd4739fe;
}


.nombresContainer,
.rutContainer1,
.apellidoContainer,
.contrasenaContainer,
.telContainer,
.sectorContainer{
    border: 2px solid #E74C3C;
    display: flex;
    margin: 0.5rem 0 0.4rem 0;
}
.IconRed{
    width: 5px;
    background-color: #E74C3C;
}
.rut1,
.nombres,
.apellido,
.contrasena1,
.tel,
.sector,
.calle,
.Ncasa{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.numeros{
    display: flex;
}

.calleContainer,
.NcasaContainer{
    border: 2px solid #E74C3C;
    display: flex;  
    justify-content: space-evenly;
    margin: 0.5rem 0 0.4rem 0;
}

.calleContainer{
    margin-right: 1rem;
}

.archContainer p{
    margin-bottom: 0.4rem;
}

.archivo{
    display: flex;
    align-items: center;
}

input[type="file"] {
    display: none; /* Oculta el input de archivo */
  }

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #E74C3C;
    color: #EBF5FB;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    text-align: center;
}
  
.custom-file-upload:hover {
    background-color: #cd4739fe;
}

.archivo span {
    margin-left: 0.4rem;
}

#enviar {
    margin-top: 1rem;
}