*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.content{
    display: flex;
    align-items: center;
    background-color: #D4E6F1;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15%;
}

.infoUser,
.solicitudUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.infoUser h2,
.solicitudUser p{
    margin-bottom: 1rem;
}

.btn{
    all: unset;          
    display: inline-block; 
    cursor: pointer;    
    padding: 10px 20px; 
    text-align: center;
    background-color: #E74C3C;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #E74C3C;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #e6e5e5;
    color:black;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.content2 h3,
.content2 p,
.content2 div {
    margin: 1rem 0rem 0rem;
}
